.lang-link {
  max-width: 30px;
}

.lang-link:first-of-type {
  text-decoration: underline;
  margin-right: 18px;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    max-width: 22px;
    max-height: 20px;
  }
}