.page {
  max-width: 1280px;
  padding-top: 28px;
  padding-bottom: 24px;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2a2c2f;
  color: #FFF;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
    padding-top: 16px;
  }
}