.place {
  max-width: 100%;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-areas: 
  "place__title place__url"
  "place__image place__paragraphs";
  row-gap: 48px;
  column-gap: 40px;
  justify-content: center;
}

.place:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .place {
    
    column-gap: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 72px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 580px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 320px));
    grid-template-areas: 
  "place__title"
  "place__url"
  "place__image"
  "place__paragraphs";
    margin-bottom: 50px;
    gap: 32px;
  }
}

/*
.photo-grid {
  max-width: calc(100% - 48px*2);
  margin: 92px auto 92px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 284px));
  justify-content: center;
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: calc(100% - 24px*2);
    grid-template-columns: repeat(auto-fit, minmax(min-content, 352px));
    gap: 16px;
    margin: 88px auto 90px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: calc(100% - 16px*2);
    grid-template-columns: repeat(auto-fit, minmax(min-content, 288px));
    gap: 12px;
    margin: 64px auto;
  }
}
*/